
body{
    margin: 0;
    padding: 0; 
    background-image: linear-gradient(45deg, #89Cff0, #ffb6c1);
}


.calculator-container{
    display:grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
}

button{
    outline: none;
    font-family:monospace, sans-serif;
    font-size: 2rem;
    border-radius: 2px gray;
    background-color: rgba(250, 250, 250, 50%);
}
