
body{
    margin: auto;
    background-image: linear-gradient(to right, #89Cff0, #ffb6c1);
}


.calculator-container {
    height: 100vh;

    display: grid;
    justify-content: center;
    align-content: center;
}

.button-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 75px);
    gap: 1px;

}

.text-field{
    height: 100px;
    font-size: 30px;
    font-family: monospace;
    background-color: rgba(20, 3, 3, 0.2);
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
    padding-bottom: 10px;
}

button{
    outline: none;
    font-family:monospace, sans-serif;
    font-size: 25px;
    border-radius: 2px gray;
    background-color: rgba(250, 250, 250, 50%);
}
